.mdc-text-field {
  background-color: var(--md-sys-color-on-secondary) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--md-sys-color-on-surface);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--md-sys-color-on-surface);
}
